:root {
    --color-principal: #cb211b;
    --color-secundario: #BFBFBE;
    --color-terciario: #686867;
    --color-basico: #ffffff;
    --color-select: #bf322d;
    --negro: #161616;
    --letra-book: @import url('https://fonts.cdnfonts.com/css/gotham-book');
    --letra-medium: @import url('https://fonts.cdnfonts.com/css/gotham-narrow-medium');
    --letra-bold: @import url('https://fonts.cdnfonts.com/css/gotham-bold');
    --tamaño-letra-parrafo: 7.5px;
    --tamaño-letra-subtitulo: 20px;
    --espacio-entre-titulos-menu: 10px;
    --tamaño-letra-titulo: 30px;
}

.menu {
    background-color: var(--color-principal);
    position: fixed;

}
.nav-ul-li-a {
    color: var(--color-basico);
    display: block;
    font-size: var(--tamaño-letra-titulo);
    text-decoration: none;
}

ul {
    list-style: none;
}

.footer {
    background-color: var(--color-principal);
}

.letra-footer {
    color: var(--color-basico);
    font-size: var(--tamaño-letra-titulo);
}